font-face {
    font-family: 'Typewriter';
    src: url('./Tox Typewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: 'Signature';
    src: url('./Bestina Signature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Typewriter', serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    /*background-image: url('images/hameau valou ia court.png');  */
    /*background-attachment: fixed;  */
    /*background-size: cover;  */
    /*background-position: center;  */
    /*background-repeat: no-repeat;*/
}

  body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url('images/hameau valou ia court.png');
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}  

/* PAGE ACCUEIL */




header.large-header {
    color: white;
    padding-top: 8em;
    padding-bottom:8em;
    text-align: center;
    position: relative;
    z-index: 10;
    font-size: xx-large
    
}
.milestone {
    font-family: 'Signature', serif;
    background: rgba(147, 127, 213, 1);
    z-index: 30;
    color: #fff;
    padding: 20px;
    border: 4px solid #fff;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}

header.small-header {
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
    margin: 2rem 2rem;
}


.superposed-title {
    font-family: 'Typewriter', serif;
    position: relative;
    display: inline-block;
    line-height: 1.2; /* Hauteur de ligne pour espacement vertical */
}

.superposed-title .line1{
    font-weight: 400;
    position: absolute;
    top: 10px;
    left: -95px;
    right: 0;
    font-size: 55px; 
    color: white; 
    
}

.superposed-title .line2 {
    font-weight: 400;
    position: absolute;
    top: 10px;
    left:-38px;
    right: 0;
    font-size: 100px; 
    color: rgba(255, 255, 255, 0.7);
}

.superposed-title .line3 {
    font-weight: 400;
    position: absolute;
    top: 70px;
    left:-138px;
    right: 0;
    font-size: 55px;
    color: white; 
}

.small-text {
    font-size: 16px; /* Exemple de taille de police plus petite */
}

/* Styles pour le bouton RSVP */
.rsvp-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border: 4px solid #fff;
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.3s, color 0.3s;
    margin-top: -10px;
    cursor: pointer;
}

.rsvp-button:link,
.rsvp-button:visited {
    color: #fff; /* White text color for normal and visited states */
    text-decoration: none; /* Remove underline */
}    
.rsvp-button:hover {
    transform: scale(1.2);
}
.rsvp-button:active {
    color: #fff; /* Ensure text color stays white when active */
    background: #666; /* Darker background on active */
}


 /* Styles pour le menu de navigation */
    #main-nav {
    display: flex; 
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(190, 165, 210, 0.9);
    padding-top: 80px; /* Même hauteur que le header pour éviter de cacher le contenu */
    z-index: 50; /* Pour s'assurer que le menu apparaît au-dessus de tout */
    transition: transform 0.6s ease-in-out;
    transform: translateX(100%); /* Déplacer le menu hors de la vue */
}

#main-nav.open {
    transform: translateX(0); /* Faire glisser le menu dans la vue */
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    gap: em;
}

#main-nav ul li {
    padding: 10px;
}

#main-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    border-radius: 5px;
}

#main-nav li:hover {
    background-color: #673f78;
}

.fa-xmark {
    position: absolute;
    top: 40px;
    left: 20px;
    cursor: pointer;
}

/* Styles pour le bouton de menu */
#menu-toggle {
    display: block;
    position: fixed;
    top: 40px;
    right: 0.5rem;
    background-color: transparent;
    z-index: 60;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
}

#menu-toggle:hover,
#menu-toggle:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


#menu-toggle:active .fa-bars {
    color: white !important; /* Forcer la couleur blanche lorsqu'on clique */
}

#menu-toggle .fa-bars:active {
    color: white !important; /* Forcer la couleur blanche lorsqu'on clique */
}

.fa-bars i a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

.fa-bars a:active {
    color: white !important;
}

section {
    font-size: large;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    text-align: center;
    h2 {
        font-size: xx-large;
        font-weight: 700;
    }
    h3 {
        font-size: xx-large;
        font-weight: 500;
    }
}

#notre-histoire {
    background: rgba(253, 240, 231, 0.95); /* Légère transparence pour les sections */
    h2 {
        color: rgba(147, 127, 213, 1);
        }
}

#details {
    background: rgba(253, 240, 231, 0.95); /* Légère transparence pour les sections */
     h2 {
    color: rgba(217, 52, 62, 1);
    }
    h3 {
        color: rgba(236, 81, 83, 1);
    }
}

.subtitle-information {
    font-weight: 600;
}

#rsvp {
    background: rgba(253, 240, 231, 0.95); /* Légère transparence pour les sections */
    h2 {
        color: rgba(147, 127, 213, 1);
    }
    a {
        text-decoration: none;
        font-weight: 700;
    }
}

#checklist{
    z-index: 2;
    background: rgba(253, 240, 231, 0.95); /* Légère transparence pour les sections */
    h2 {
        color: rgba(242, 124, 19, 1);
    }
    margin-top: 4rem;
}

#contact {
    z-index: 2;
    background: rgba(253, 240, 231, 0.95); /* Légère transparence pour les sections */
    h2 {
        color: rgba(50, 39, 239, 1);
    }
    a {
        text-decoration: none;
    }

}

/* Styles pour la galerie */
#galerie {
    background: transparent; /* Légère transparence pour les sections */
    text-align: center;
    color: rgba(244, 189, 65, 1);
    h2, p{
        color: rgba(244, 189, 65, 1);
        text-shadow: 1px 1px 1px black;
    }
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.gallery img {
    width: 25%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

#danse-img {
    width: 50%;
}

@media (max-width: 768px) {
    .gallery img {
        width: 100%;
    }
    #danse-img {
        width: 100%;
    }
}

.gallery img:hover {
    transform: scale(1.3);
    z-index: 100;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-content :center;
}

.lightbox-content {
    z-index: 100;
    max-width: 80%;
    max-height: 80%;

}

.close {
    position: absolute;
    z-index:200;
    top: 60px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}






#carte {
    background: transparent; /* Légère transparence pour les sections */
    height: 0;
    padding-bottom: 56.25%; /* Proportion 16:9 */
    position: relative;
    min-height: 200px;
    h2 {
        color: white;
        text-shadow: 1px 1px 1px black;
        }
}



#carte iframe {
    position: absolute;
    border-radius:20px;
    top: 20% ;
    bottom: 10% ;
    right: 10% ;
    width: 80%;
    height:70%;
    border: 0;
}

/* PAGE FORMULAIRE */
#container-form {
    margin: 0 2rem;
}

#rsvp-title {
    text-shadow: 2px 2px 1px black;
}

.rsvp-subtitle {
    text-shadow: 1px 1px 1px black;
}

form {
    display: flex;
    flex-direction: column;
    background-color:rgba(250,250,250, 0.8);
    border-radius: 10px;
    border: 2px solid white;
    padding: 0.5rem;
}

form label {
    margin-top: 10px;
}

.label-title {
    font-weight: 700;
}

form input {
    width: 50%;
    margin: 0.2rem auto;
    border-radius: 22px;
    border: 1px white;
    padding: 0.5rem;
}

form button {
    width: 30%;
    margin: 0.2rem auto;
    border-radius: 22px;
    border: 1px white;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    background-color: #D78CF8;
    cursor: pointer;
}

form button:hover {
    background-color: lightgreen;
}
.radio-inputs {
    margin: 0.2rem 0;
    width: 20px;
}

#submit {
    background: #D78CF8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#guest-names {
    margin-top: 10px;
}

#guest-names label {
    display: block;
    margin-top: 10px;
}

#guest-names input {
    padding: 10px;
    margin-top: 5px;
}

.image-chambres {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.image-chambres img {
    width: 48%; 
    max-height: 400px;
}

#retour {
    background-color: rgba(215,140,248, 0.8);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    border-radius: 0;
}

#retour a {
    color: white;
}
