body {
    font-family: Courier New, monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Ajoute ton image de fond ici */
    background-attachment: fixed; /* Pour l'effet de défilement parallaxe */
    background-size: cover; /* Pour couvrir tout l'écran */
    background-position: center; /* Centre l'image de fond */
}

header {
    background: rgba(80, 179, 162, 0.6); /* Utilisation de rgba pour une transparence */
    color: white;
    padding: 2rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    font-family: 'Special Elite', monospace; /* Applique la police de style machine à écrire uniquement à h1 */
}

section {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Légère transparence pour les sections */
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

h2 {
    color: #50b3a2;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form button {
    padding: 10px;
    margin-top: 5px;
}

form button {
    background: #50b3a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
