body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('background.png'); /* Ajoute ton image de fond ici */
    background-attachment: fixed; /* Pour l'effet de défilement parallaxe */
    background-size: cover; /* Pour couvrir tout l'écran */
}

header {
    background: rgba(80, 179, 162, 0.8); /* Utilisation de rgba pour une transparence */
    color: white;
    padding: 2rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

section {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Légère transparence pour les sections */
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

h2 {
    color: #50b3a2;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form button {
    padding: 10px;
    margin-top: 5px;
}

form button {
    background: #50b3a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
